.App {
  margin-top: 3rem;
  align-items: center;
}

.cardBook {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(166, 194, 207);
}

.bookImage {
  width: 100%;
  height: 100%;
}

.leftCol {
  float: left;
  margin: 0 22px 22px 20px;
  width: 25%;
}

.marginCorrection {
  margin-bottom: -15px;
}

.textColor1 {
  color: gray;
  font-size: large;
}

.centerCol {
  position: relative;
  padding-right: 20%;
}

.descText {
  position: relative;
  padding-right: 20%;
  text-align: justify;
}

.destaque {
  color: rgb(0, 108, 231);
}